/*
* @autor João Victor Teixeira
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* ========== Navigation Bar ========== */
* , *::before, *::after{
    box-sizing: border-box;
}
header{

    position: fixed;
    background: #FBFBFB;

}

header .container {

    display: flex;
    align-items: center;

}

.container{

    max-width: 1280px;
    width: 100%;
    margin: auto;

}

.navbar ul li a{

    color: #000000;
    text-decoration: none;
}

.navbar{

    text-align: center;
    width: 100%;
    height: 120px;
    font-size: 35px;
    line-height: 41px;

}

.navbar img{

    border: transparent thin solid;
    width: 98px;
    height: 103px;

}

.navbar ul  li{

    list-style-type: none;

}

.navbar ul{

    display: inline-flex;
    gap: 122px;

}

/* ========== Layout ========== */

body{

    background-color: #05ADAD;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    font-family: Roboto, Arial, sans-serif;

}

html, body{
    height: 100%;
    margin: 0;
}

.principal{
    padding-top: 27px;
    min-height: 100%;
    margin-bottom: 100px;

}

.sobre-voce h1{

    color: #000000;
    margin-bottom: 21px;
    margin-top: 0;

    font-weight: 700;
    font-size: 50px;
    line-height: 59px;

}

.sobre-voce .sobre-conteudo{

    display: flex;

}

.sobre-voce p{

    margin: 0px;
    font-size: 35px;
    line-height: 41px;
    color: #000000;

}

.sobre-voce .foto{

    border-radius: 50%;
    height: 177px;
    width: 185px;
    margin-right: 29px;

}

.conhecimentos h1{

    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;

    color: #000000;
}

.retangle{

    background: #036E6E;
    border-radius: 20px;
    padding: 25px 80px;

}

.retangle ul{

    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;

}

.retangle ul li{

    margin: 0;

}

.retangle ul li button{

    padding: 10px;

    border: 1px solid #06D4D4;
    display: inline-block;
    cursor: pointer;

    font-weight: 700;
    font-size: 35px;
    line-height: 41px;

    background: #07FAFA;
    border-radius: 5px;

}

.retangle ul li button.ativo{
    opacity: 0.6;
}

.retangle .conhecimentos-conteudos p{

    padding-bottom: 150px;
    margin: 0;
    text-align: justify;
    font-size: 35px;
    line-height: 41px;

    color: #FFFFFF;
}

.retangle .conhecimentos-conteudos.oculto{

    display: none;

}

.contato{

    margin-top: 55px;

}

.contato h1{

    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 21px;

}

.contato ul{

    list-style: none;
    padding-left: 0;
    font-size: 35px;
    line-height: 41px;

}

.contato img{
    margin-right: 21px;
}

.contato .cont{

    display: flex;

}

/* ========== Footer ========== */
.rodape{

    text-align: center;
    font-size: 25px;
    padding: 56px 20px;

    background-color: #FFFFFF;

}

.rodape img{

   height: 20px;

}