/*
* @autor João Victor Teixeira
*/

/* ========== Navigation Bar ========== */
.navbar{

    background: #FBFBFB;
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    z-index: 1;

}

.navbar > img{

    position: absolute;
    border: transparent thin solid;
    width: 98px;
    height: 103px;
    left: 166px;
    top: 9px;

}

.navbar > ul > li{
    list-style-type: none;
    display: inline-block;
    padding-left: 122px;
}

.navbar > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 45px;

}

/* ========== Layout ========== */

body{

    background-color: #05ADAD;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    font-family: Helvetica, Arial, sans-serif;

}

html, body{
    height: 100%;
}

.principal{
    padding: 100px;
}

.sobre-voce h1{

    color: #000000;
    position: relative;
    left: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;

}

.sobre-voce p{
    position: absolute;
    width: 828px;
    height: 219px;
    left: 352px;
    top: 228px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;

    color: #000000;
}

.conhecimentos{
    position: absolute;
    left: 600px;
    top: 502px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;

    color: #000000;
}

.foto{
    position: absolute;
    width: 185px;
    height: 177px;
    left: 138px;
    top: 234px;
    border-radius: 100px;
}
.retangle{
    position: absolute;
    width: 90%;
    height: 482px;
    top: 650px;

    background: #036E6E;
    border-radius: 20px;
}

.retangle > ul > li{
    list-style-type: none;
    display: inline-block;
    padding-left: 200px;

}

ul > li > button{
    position: relative;
    padding: 10px;
    left: 121px;
    top: 25px;

    border: 1px solid #06D4D4;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;

    background: #07FAFA;
    border-radius: 5px;
}
ul > li > p{
    position: absolute;
    text-align: justify;
    top: 100px;
    margin-left: 150px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;

    color: #FFFFFF;
}
